{
    "alt-speed-down": {{ td_alt_speed_down if td_alt_speed_down is defined else '50' }},
    "alt-speed-enabled": {{ td_alt_speed_enabled|lower if td_alt_speed_enabled is defined else 'false' }},
    "alt-speed-time-begin": {{ td_alt_speed_time_begin if td_alt_speed_time_begin is defined else '540' }},
    "alt-speed-time-day": {{ td_alt_speed_time_day if td_alt_speed_time_day is defined else '127' }},
    "alt-speed-time-enabled": {{ td_alt_speed_time_enabled|lower if td_alt_speed_time_enabled is defined else 'false' }},
    "alt-speed-time-end": {{ td_alt_speed_time_end if td_alt_speed_time_end is defined else '1020' }},
    "alt-speed-up": {{ td_alt_speed_up if td_alt_speed_up is defined else '50' }},
    "bind-address-ipv4": "{{ td_bind_address_ipv4 if td_bind_address_ipv4 is defined else '0.0.0.0' }}",
    "bind-address-ipv6": "{{ td_bind_address_ipv6 if td_bind_address_ipv6 is defined else '::' }}",
    "blocklist-enabled": {{ td_blocklist_enabled|lower if td_blocklist_enabled is defined else 'false' }},
    "blocklist-url": "{{ td_blocklist_url if td_blocklist_url is defined else 'http://www.example.com/blocklist' }}",
    "cache-size-mb": {{ td_cache_size_mb if td_cache_size_mb is defined else '4' }},
    "dht-enabled": {{ td_dht_enabled|lower if td_dht_enabled is defined else 'true' }},
    "download-dir": "{{ td_download_dir if td_download_dir is defined else '/var/lib/transmission/Downloads' }}",
    "download-queue-enabled": {{ td_download_queue_enabled|lower if td_download_queue_enabled is defined else 'true' }},
    "download-queue-size": {{ td_download_queue_size if td_download_queue_size is defined else '5' }},
    "encryption": {{ td_encryption if td_encryption is defined else '1' }},
    "idle-seeding-limit": {{ td_idle_seeding_limit if td_idle_seeding_limit is defined else '30' }},
    "idle-seeding-limit-enabled": {{ td_idle_seeding_limit_enabled|lower if td_idle_seeding_limit_enabled is defined else 'false' }},
    "incomplete-dir": "{{ td_incomplete_dir if td_incomplete_dir is defined else '/var/lib/transmission/Downloads' }}",
    "incomplete-dir-enabled": {{ td_incomplete_dir_enabled|lower if td_incomplete_dir_enabled is defined else 'false' }},
    "lpd-enabled": {{ td_lpd_enabled|lower if td_lpd_enabled is defined else 'false' }},
    "message-level": {{ td_message_level if td_message_level is defined else '1' }},
    "peer-congestion-algorithm": "{{ td_peer_congestion_algorithm if td_peer_congestion_algorithm is defined else '' }}",
    "peer-id-ttl-hours": {{ td_peer_id_ttl_hours if td_peer_id_ttl_hours is defined else '6' }},
    "peer-limit-global": {{ td_peer_limit_global if td_peer_limit_global is defined else '200' }},
    "peer-limit-per-torrent": {{ td_peer_limit_per_torrent if td_peer_limit_per_torrent is defined else '50' }},
    "peer-port": {{ td_peer_port if td_peer_port is defined else '51413' }},
    "peer-port-random-high": {{ td_peer_port_random_high if td_peer_port_random_high is defined else '65535' }},
    "peer-port-random-low": {{ td_port_random_low if td_port_random_low is defined else '49152' }},
    "peer-port-random-on-start": {{ td_peer_port_random_on_start|lower if td_peer_port_random_on_start is defined else 'false' }},
    "peer-socket-tos": "{{ td_peer_socket_tos if td_peer_socket_tos is defined else 'default' }}",
    "pex-enabled": {{ td_pex_enabled|lower if td_pex_enabled is defined else 'true' }},
    "port-forwarding-enabled": {{ td_port_forwarding_enabled|lower if td_port_forwarding_enabled is defined else 'true' }},
    "preallocation": {{ td_preallocation if td_preallocation is defined else '1' }},
    "prefetch-enabled": {{ td_prefetch_enabled|lower if td_prefetch_enabled is defined else 'true' }},
    "queue-stalled-enabled": {{ td_queue_stalled_enabled|lower if td_queue_stalled_enabled is defined else 'true' }},
    "queue-stalled-minutes": {{ td_queue_stalled_minutes if td_queue_stalled_minutes is defined else '30' }},
    "ratio-limit": {{ td_ratio_limit if td_ratio_limit is defined else '2' }},
    "ratio-limit-enabled": {{ td_ratio_limit_enabled|lower if td_ratio_limit_enabled is defined else 'false' }},
    "rename-partial-files": {{ td_rename_partial_files|lower if td_rename_partial_files is defined else 'true' }},
    "rpc-authentication-required": {{ td_rpc_authentication_required|lower if td_rpc_authentication_required is defined else 'false' }},
    "rpc-bind-address": "{{ td_rpc_bind_address if td_rpc_bind_address is defined else '0.0.0.0' }}",
    "rpc-enabled": {{ td_rpc_enabled|lower if td_rpc_enabled is defined else 'true' }},
    "rpc-password": "{{ td_rpc_password if td_rpc_password is defined else '{81c0bf5837de960f693ce3df337bc5f30dce6ebezuTWtlG8' }}",
    "rpc-port": {{ td_rpc_port if td_rpc_port is defined else '9091' }},
    "rpc-url": "{{ td_rpc_url if td_rpc_url is defined else '/transmission/' }}",
    "rpc-username": "{{ td_rpc_username if td_rpc_username is defined else '' }}",
    "rpc-whitelist": "{{ td_rpc_whitelist if td_rpc_whitelist is defined else '127.0.0.1' }}",
    "rpc-whitelist-enabled": {{ td_rpc_whitelist_enabled|lower if td_rpc_whitelist_enabled is defined else 'true' }},
    "scrape-paused-torrents-enabled": {{ td_scrape_paused_torrents_enabled|lower if td_scrape_paused_torrents_enabled is defined else 'true' }},
    "script-torrent-done-enabled": {{ td_script_torrent_done_enabled|lower if td_script_torrent_done_enabled is defined else 'false' }},
    "script-torrent-done-filename": "{{ td_script_torrent_done_filename if td_script_torrent_done_filename is defined else '' }}",
    "seed-queue-enabled": {{ td_seed_queue_enabled|lower if td_seed_queue_enabled is defined else 'false' }},
    "seed-queue-size": {{ td_seed_queue_size if td_seed_queue_size is defined else '10' }},
    "speed-limit-down": {{ td_speed_limit_down if td_speed_limit_down is defined else '100' }},
    "speed-limit-down-enabled": {{ td_speed_limit_down_enabled|lower if td_speed_limit_down_enabled is defined else 'false' }},
    "speed-limit-up": {{ td_speed_limit_up if td_speed_limit_up is defined else '100' }},
    "speed-limit-up-enabled": {{ td_speed_limit_up_enabled|lower if td_speed_limit_up_enabled is defined else 'false' }},
    "start-added-torrents": {{ td_start_added_torrents|lower if td_start_added_torrents is defined else 'true' }},
    "trash-original-torrent-files": {{ td_trash_original_torrent_files|lower if td_trash_original_torrent_files is defined else 'false' }},
    "umask": {{ td_umask if td_umask is defined else '18' }},
    "upload-slots-per-torrent": {{ td_upload_slots_per_torrent if td_upload_slots_per_torrent is defined else '14' }},
    "utp-enabled": {{ td_utp_enabled|lower if td_utp_enabled is defined else 'true' }}
}
